/**
Home start ---------------------------
**/
.featured {
  padding: 0;
  background-image: linear-gradient(45deg, #42324e, #41314b, #1a203a, #101731)
}

.featured-container {
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.featured-info {
  min-width: 80px;
}

.featured-info * {
  color: #fff;
}

.featured-label {
  background: #fff;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 0 6px;
  color: black;
}

.featured-info {
  margin-left: 10px;
}

img.featured {
  width: 140px;
  height: 100%;
  margin: 20px 50px;
}

.featured-header {
  margin: 5px 0;
  font-weight: bold;
  display: block;
  font-size: 32px;
  overflow: hidden;
}

.featured-subheader {
  font-weight: 400;
  display: block;
  font-size: 22px;
  overflow: hidden;
  margin: 0;
}

.featured-para {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  width: 70%;
  overflow: hidden;
  overflow-wrap: break-word;
  line-height: 1.2;
  text-align: justify;
}

/**
Home end ---------------------------
**/