.main-component-container h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 0;
}

.main-component span {
  color: #57617a;
  font-size: 18px;
    padding-bottom: 5px;
  font-style: normal;
  display: block;
}

.main-component {
  padding: 0px;
  min-height: 90vh;
  padding-left: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
}

.main-component ul {
  list-style: none;
  padding: 0;
}

.doc-index-section1 {
  padding: 10px;
}

.page-header {
  padding: 14px;
      margin-top: 10PX;

}

.documents-items-container * {
  font-size: 15px;

}