.upload-form {
  margin: 10px 20px 10px 0;
  width: 60%;
}

.upload-form-div {
  padding: 20px 0 20px 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-form-container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.thumbnail-container {
  width: 30%;
  margin: 15px 20px 0 0;
}

.thumbnail-container img {
  width: 100%;
  opacity: 60%;
}

.upload-form input,
.upload-form textarea {
  border: 1px solid #e9edf8;
}

#file-contain {
  position: relative;
  height: 140px;
}

#file {
  border: 1px dashed #017f70;
  min-height: 100px;
  position: absolute;
  background-color: transparent;
  top: 30px;
  left: 0;
  z-index: 100000;

  &::-webkit-file-upload-button {
    visibility: hidden;
    display: none;
    -webkit-appearance: none;
  }

  &:hover {
    cursor: pointer;
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

#file-btn {
  font-size: 20px;
  transition: all .4s;
  border-color: transparent;
  position: absolute;
  top: 70px;
  left: calc(50% - 100px);
  height: 30px;
}

input#description-input {
  height: 100px;
  text-align: start;
}

.upload-form .submit-btn {
  width: 120px;
  padding: 0 25px;
  float: right;
}

.upload-form input,
.upload-form textarea {
  width: 100%;
}

span.req {
  font-size: 13px;
  color: #57617a;
  display: block;
  text-align: left;
  margin: 0;
  font-weight: normal;
}

textarea:focus {
  border-color: #02a793;
  box-shadow: 0 0 1px 0 #017f70;
}

textarea {
  width: 100%;
  min-height: 250px;
}

.upload-form-div h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 0;
}

.label-contain {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2px;
}

.label-contain label {
  width: fit-content;
  padding: 0 5px 0 0;
}