.book-show-container {
  display: flex;
  flex-direction: column;
}

.book-show-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.book-show-details .left-col {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: flex-start;
  padding-top: 0px;
}

.book-show-details .right-col {
  display: flex;
  flex-direction: column;
  margin-left: 21px;
  margin-right: 14px;
  align-items: flex-start;
  width: 70%;
}

#carat {
  font-weight: bolder;
  padding-top: 0;
  font-size: 14px;
}

.review-text {
  color: #57617a;
  font-size: 16px;
  line-height: 1.4;
  min-height: 90px;
  padding-right: 15px;
}

.book-title {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;
}

.author {
  margin-top: 3px;
  font-size: 18px;
  display: flex;
  align-content: center;
  padding-bottom: 10px;
}

.author .author-name {
  margin-left: 5px;
  color: #1e7b85;
  font-weight: bold;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.pages {
  margin-right: 12px;
  color: #1c263d;
  display: flex;
  align-content: center;
  margin-top: 1px;
  // padding: 5px;
}

.pages svg#pages-icon {
  height: 19px;
  color: #1c263d;
  margin-right: 10px;
}

.pages span,
.pages-rating-container span {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0;
  color: #57617a;
}

.pages-rating-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-top: 5px;
}

.rating-wrapper {
  height: 25px;
  margin-right: 20px;
}

.book-show-divider {
  border-top: 2px solid #e9edf8;
  margin: 8px 0 16px 0;
  width: 100%;
}

.description {
  font-size: 18px;
  margin: 16px 0px;

  min-height: 92px;
  line-height: 1.5;
  text-align: justify;
  white-space: pre-line;
}

.sub-nav {
  list-style-type: none;
  display: flex;
  margin-bottom: 30px;
  align-content: center;
  text-align: center;
  padding-left: 15px;
}

.sub-nav li {
  margin-right: 13px;
  color: #caced9;
  padding-top: 1px;
}

.sub-nav li a {
  font-size: 16px;
  color: #1e7b85;
  font-weight: bold;
}

.book-data-table {
  margin: 20px 0px;
  color: #1c263d;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;

}

.book-data-table>div {
  min-width: 200px;
  width: 100%;
  flex: 0 50%;
  height: 25px;
}

.book-show-container .save-btn {
  max-width: 220px;
  margin: 20px;
}







//review

.review-form-container {
  margin: 32px;
  align-self: center;
}

.review-form {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-width: 850px;
}

#review-input {
  width: 100%;
  font-size: 16px;
  min-height: 50px;
  font-size: 17px;
  padding: 15px;
}

.rating-container {
  overflow: hidden;
  height: 100px;
}

.form-row {
  display: flex;
  align-content: center;
  height: 65px;
}

.rating-container .fa-star {
  width: 35px;
  height: 35px;
  margin: 2px 5px;
}

.rating-label {
  font-size: 16px;
  font-weight: bold;
  padding: 12px 35px 10px 0;
}

.review-btn-container {
  align-self: flex-end;
  margin: 10px 0;


}

h2.reviews-header {
  margin-top: 40px;
  font-size: 28px;
  color: #000514;
}

ul.reveiws-list {}

.reviews-contain {
  padding: 40px;
}

.review-item {
  box-sizing: border-box;
  border-bottom: 1px solid #e9edf8;
  padding: 24px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.review-left {
  width: 75%;
}

.small-rating {
  height: 25px;
}

#empty-star {
  filter: opacity(0);
}

.rating-reset-button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: #1e7b85;
  font-weight: bold;
  margin-left: 15px;
}

#color-star {
  filter: hue-rotate(40deg) brightness(0.9);
}

#review-input:focus {
  min-height: 200px;
  transition: min-height 0.6s linear;
}

textarea#review-input:not(:empty) {
  min-height: 200px;
  border-color: #02a793;
  box-shadow: 0 0 1px 0 #017f70;
}

// .review-btn-container {
//   visibility: hidden;
// }

// textarea#review-input:not(:empty) .review-btn-container {
//     visibility: visible;
//   }

// #review-input:focus .review-btn-container {
//   visibility: visible;
// }

// #review-input:focus:after .review-btn-container {
//   visibility: visible;
// }


#form-rating-star {
  margin-right: 25px;
  height: 35px;
  width: 35px;
}





// index
.books-index-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-author {
  font-size: 14px;
  color: #57617a;
}

div.book-index-item {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 160px;

  height: 300px;
  margin: 5px;
}

div.book-index-item:hover {
  transform: scale(1.07);
  background-color: white;
}


.book-index-img-container {
  width: 100%;
}

.index-title {
  overflow: hidden;
  max-height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 5px;
}

.index-title div {
  font-size: 16px;
  max-height: 45px;
  text-overflow: clip;
  font-weight: bold;
  color: #1c263d;
  overflow: hidden;
}


.loading {
  min-height: 550px;
  padding-left: 180px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  padding-top: 250px;
}

.main-component-container>.submit-loading {
  padding-left: 0px;
  padding-top: 0;
}

.review-item {
  margin: 20px 0;
  padding: 5px;
}

.users-review {

  animation: fadeinfilter 2s;
  -moz-animation: fadeinfilter 2s;
  /* Firefox */
  -webkit-animation: fadeinfilter 2s;
}

@keyframes fadeinfilter {
  from {
    opacity: 0;
    // filter: saturate(1.9) brightness(0.9);
  }

  to {
    opacity: 2;
    filter: saturate(2.5) brightness(0.8);
  }
}

#color-star-index {
  height: 15px;
  filter: hue-rotate(40deg) brightness(0.9);
}

#xs-star {
  margin: 0 5px 0 5px;
}

.book-index-img-container>img {
  margin-left: 4px;
}

// .books-index-item img#color-star {
//   margin-right: 5px;

// }

div.book-index-item .top-book-li {
  width: 100%;
}

.top-book-li>div.book-index-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.top-charts-list .book-index-img-container {
    margin-top: 20px;
width: 30%;
}

.top-charts-list .description-contain {
  width: 100%;
  float: right;
  overflow: hidden;
  font-size: 13px;
  text-align: justify;
}

.top-book-li {
  // max-height: 230px;
      width: 95%;
  background-color: white;
  padding: 10px;
}

.top-charts-list {
  // list-style: decimal;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
      margin-left: 15px;
}

.rank {
  font-weight: bold;
  font-size: 20px;
}

.top-book-li >div.book-index-item:hover {
  transform: scale(1.02);
  background-color: white;
}

.top-book-li .top-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 15px;
      max-height: 280px;

}