// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: Source Sans Pro, sans-serif;
  text-decoration: none;
  color: black;
  -webkit-font-smoothing: antialiased;
}

body {
  -webkit-font-smoothing: antialiased;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
}


html {
  scroll-behavior: smooth;
}


/**
Start NavBar formatting
**/
.navbar {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

.nav-items-container {
  display: flex;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 16px 0 10px;
  height: 59px;
}

.logo-container {
  margin-right: 40px;
}

.logo-img {
  width: 140px;
  height: 30px;
}

.user-btns {
  width: 58px;
  color: #1e7b85;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #1e7b85;
  cursor: pointer;
}

.user-btns * {
  color: #1e7b85;
}

#user-icon {
  width: 40px;
  height: 40px;
}

#down-arrow-icon {
  height: 11px;
  font-weight: lighter;
}

.color-divider-line {
  position: relative;
  top: 0px;
  width: 100%;
  height: 1px;
  z-index: 1001;
  background-image: linear-gradient(90deg,
    #02a793 10%,
    #0d6069 20%,
    #509ba8 60%,
    #003451,
    #7f1652,
    #e47b01);
  // display: flex
}

// .color-div {
//   height: 1px;
//   display: block;
  
// }

// .seafoam {
//   background-color: #02a793;
//   width: 4%
// }

// .teal-dark {
//   background-color: #0d6069;
//   width: 12%
// }

// .teal-light {
//   background-color: #509ba8;
//   width: 48%
// }

// .midnight {
//   background-color: #003451;
//   width: 12%
// }

// .wine {
//   background-color: #7f1652;
//   width: 16%;
// }

// .yellow {
//   background-color: #e47b01;
//   width: 8%
// }

.dropdown-content {
  background-color: #fff;
  border: 2px solid #e9edf8;
  min-width: 240px;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  right: 13px;
  text-align: left;
  top: 60px;
  z-index: 100;
}

.dropdown-list {
  list-style: none;
}

.dropdown-list li{
  color: #57617a;
  display: block;
  font-size: 16px;
  height: 100%;
  padding: 4px 16px;
  width: 100%;
}

.dropdown-list .greeting {
  color: #1c263d;
  font-size: 20px;
  line-height: normal;
  padding: 12px 16px;
}

.signin-btn {
  background-color: transparent;
  border: 1px solid #1e7b85;
  color: #1e7b85;
  font-size: 18px;
  min-height: 2.44444em;
  line-height: 2.44444em;
  min-width: 120px;
  padding: 0 30px;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
}

.signin-btn:hover {
  border: 1px solid #135057;
  color: #135057;
  cursor: pointer;
}

/**
End NavBar formatting ------------------
**/



/**
Start SideBar formatting --------------
**/
aside {
  height: 100%;
  position: fixed;
  width: 180px;
  background-color: #f8f9fd;
  background-image: linear-gradient(0deg, #fcf5ea, #fbf1f7 35%, #eff7f8 67%, #e9f7fe);
  z-index: 2;
}

.sidebar-content {
  position: relative;
  top: 61px;
}

.sidebar-content > ul {
  list-style: none;
} 

.sidebar-content * {
  color: #57617a;
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  line-height: 24px;
}
/**
End SideBar formatting ---------------
**/



/**
Start Footer formatting
**/
footer {
  background: #cbcedb;
  border-top: 2px solid #e9edf8;
  text-align: center;
  position: relative;
  top:0px;
  width: 100%;
  padding: 0 180px;
}
footer a {
  font-size: 14px;
  margin: 0;
  color: #666;
  font-weight: bold;
  letter-spacing: 2px;
}





// SessionForm 
// modal

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 100;
}

.login-form-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  z-index: 500;
  // background-color: rgba($color: #000000, $alpha: 0.5);
}

.login-form-box {
  position: relative;
  z-index: 500;
  top: 78px;
  height: 500px;
  width: 700px;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 0 12px #000514;
  display: flex;
  flex-direction: row;
      box-shadow: 0 0 12px #000514;

}


.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  outline: none;
  border-radius: 4px;
  border: 1px solid #8f929e;
  padding: 8px 14px;
  width: 280px;
  height: 40px;
}

.form-top {
  display: block;
  width: 100%;
}

.form-top-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.back-btn-container {
  display: flex;
  align-items: center;
}
.back-btn-container span {
  padding: 0 8px;
  font-family: Source Sans Pro, sans-serif;
  font-size: 18px;
  color: #1c263d;
}

.form-top-btns div {
  padding: 24px;
}

#modal-icon {
  height: 25px;
  width: 25px;
  color: #8f929e
}

.left-col {
  width: 240px;
  height: 100%;
  background: #d9effb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-col .logo-img {

}

.form-title {
  font-size: 28px;
  font-weight: bold;
  margin: 16px auto 0;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  line-height: normal;
}

form label {
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  width: 95%;
}

.right-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 460px;
}

.close-btn {
  background-color: none;
  border: none;
  margin-top: 5px;
  padding-top: 10px;
}

.form-top-btns {
  margin-right: 15px;
}

.submit-btn {
  outline: none;
  border-radius: 4px;
  width: 280px;
  height: 40px;
  background-color: #1e7b85;
  border: 1px solid hsla(0, 0%, 100%, .2);
  color: white;
  font-size: 18px;
  min-width: 120px;
  padding: 0px 30px;
  margin-top: 10px;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  vertical-align: middle;
}

.submit-btn:hover {
  border: 1px solid #135057;
  background-color: #135057;
  cursor: pointer;
}

.right-footer-container {
  margin: 30px 0;
  display: flex;
  border-top: 1px solid #caced9;
  padding-top: 24px;
  width: 100%;
  justify-content: center;
}

.right-footer-container span {
  font-size: 16px;
  letter-spacing: .3px;
  color: #1c263d;
}

.right-footer-container button {
  font-size: 16px;
  letter-spacing: .3px;
  color: #1e7b85;
  background-color: none;
  border: none;
  font-weight: bold;
}

.right-footer-container button:hover {
  color: #135057;

}
// End Session Form Modal






// Home Start
.main-section {
  position: relative;
  top: 60px;
}

// .home-container {
//   position: relative;
//   top: 60px;
// }

// .splash-img {
//   // background-image: url('splash.png');
//   height: 100%;
//   width: 100%;
//   z-index: 8;
// }

.home-content-box {
  position: relative;
  min-height: 800px;
  width: 100%;
  /* top: 5px; */
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 150px;
  background-image: url("https://miro.medium.com/max/5140/1*DztB9SYNfMX-9d149yRa_w.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.home-content {
  margin: 0px 200px;
  height: 400px;
  width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}

.home-container span {
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}

.signup-btn {
  background-color: #1e7b85;
  border: 1px solid hsla(0, 0%, 100%, .2);
  color: white;
  font-size: 18px;
  min-height: 2.44444em;
  line-height: 2.44444em;
  min-width: 120px;
  padding: 0px 30px;
  margin-top: 10px;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
}

.signup-btn:hover {
  border: 1px solid #135057;
  background-color: #135057;
  cursor: pointer;
}

.offerings-container {
  padding: 50px 0;
      background: #fff;
      background-position: 50%;
      text-align: center;
}

.offerings-heading {
      font-size: 36px;
      font-weight: 700;
      font-family: Source Sans Pro,
      sans-serif;
      margin: 0 40px;
      color: #1c263d;
}


.offerings .landing-sub-heading {
  font-weight: 400;
  margin: 0 auto 30px;
  font-size: 18px;
  text-align: center;
  color: #1c263d;
  width: 65%;
}

li.offer-container {
      display: inline-block;
      max-width: 300px;
      padding: 0 10px;
      vertical-align: top;
}
.offer-container img {
  width: 200px;
}

.summary {
  left: 0;
  width: 100%;
  display: block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: normal;
  text-align: center;
  color: #000514;
}

.summary-subtext {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: normal;
  text-align: center;
  display: block;
  width: 166px;
  margin: 0 auto;
  color: #000514;
}
.offerings-list {
  list-style: none;
  margin: 0 0 24px;
}
.fold {
  padding: 50px;
}

 .landing-sub-heading {
  margin: 0;
  padding: 15px 0 5px;
  font-size: 19px;
  width: 200px;
  text-align: left;
  color: #57617a;
}
.fold h2 {
  font-size: 60px;
  line-height: 55px;
  font-weight: normal;
  display: inline-flex;
  text-transform: uppercase;
  margin-bottom: 0;
    margin-top: 0;
  color: #000514;
  text-align: left;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
}
.fold h2 strong {
  font-weight: bolder;
  color: #a9085e;
}
// Home End



// Start TopBooks
.top-books {
  background-color: #5a1d41;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.top-books h2 {
  padding-top: 10px;
  color: #fafbfd;
  text-transform: uppercase;
  line-height: 1em;
  font-size: 34px;
}
.book-covers-container {
  margin: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
}
.book-cover {
    height: 140px;
    width: 95px;
    margin: 5px;
}
// End TopBooks