// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


* {
  font-family: Source Sans Pro, sans-serif;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

body {
  -webkit-font-smoothing: antialiased;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  line-height: 1.3;
}