/**
SideBar start -----------------------------
**/

aside {
  height: 100%;
  position: fixed;
  width: 180px;
  background-color: #f8f9fd;
  background-image: linear-gradient(0deg,
      #fcf5ea,
      #fbf1f7 35%,
      #eff7f8 67%,
      #e9f7fe);
  z-index: 2;
}

ul.sidebar-content {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sidebar-content * {
  color: #57617a;
  font-size: 14px;
  vertical-align: middle;
  line-height: 24px;
}

svg#scribd-icon-side {
  margin: 0 12px 0 16px;
  font-size: 24px;
  width: 24px;
}

.sidebar-content li {
  display: block;
  width: 100%;
}

.nav-link {
  height: 100%;
  margin: 12px 0;
  // padding: 0 20px;
  height: 34px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-left: 4px solid transparent;
}

.active-nav-link {
  border-left: 4px solid #a9085e;
  color: #a9085e;
  font-weight: bold;
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
}

.active-nav-link path {
  color: #a9085e;
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {

  /* Firefox */
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {

  /* Safari and Chrome */
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

svg#doc-icon-side {
  margin: 0 12px 0 16px;
  font-size: 24px;
  width: 23px;
}

svg#book-icon-side {
  margin: 0 12px 0 16px;
  font-size: 24px;
  width: 23px;
}

svg#saved-icon {
  margin: 0 12px 0 16px;
  font-size: 24px;
  width: 23px;
}

li.sidebar-div {
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div.sidebar-div {
  height: 15px;
  border-bottom: 1px solid #e2e4e5;
}

/**
SideBar end -----------------------------
**/